.one{
background: url(../assets/backgrounds/h_img.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
.one{

  background: url(../assets/backgrounds/h_img.jpg);
  text-align: center;
  color: white;
  padding: 195px;
}
.two{
  text-align: center;
}
.icon{
  margin-top: 16%;
}
.text{
  margin-top: 10%;
  margin-bottom: 0%;
}